.offline {

  display: flex;
  width: 200px;
  justify-content: center;
  align-content: center;

  &__status {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    align-self: center;
    margin-right: 5px;
  }

  &__status.offline {
    background-color: red;
  }
}
