<div class="departments">
  <h1>Departments</h1>
  <ngx-datatable
    class="bootstrap"
    [rows]="departments"
    [rowClass]="getRowClass"
    [columns]="[{name:'Name'},{name:'EmployeesCount'}]"
    [columnMode]="'force'"
    [headerHeight]="40"
    [summaryRow]="false"
    [summaryPosition]="'bottom'"
    [footerHeight]="40"
    [rowHeight]="'auto'"
    [selected]="[]"
    [selectionType]="'single'"
    (select)="onSelect($event)"
    [limit]="10">
  </ngx-datatable>

</div>
