<div class="employees">
  <h1>Employees list</h1>
  <a routerLink="/departments" class="btn btn-link"><<< Back to departments list</a>

  <ngx-datatable
    class="bootstrap"
    [rows]="employees"
    [rowClass]="getRowClass"
    [columns]="[{name:'Name'},{name:'Phone'}]"
    [columnMode]="'force'"
    [headerHeight]="40"
    [summaryRow]="false"
    [summaryPosition]="'bottom'"
    [footerHeight]="40"
    [rowHeight]="'auto'"
    [selected]="[]"
    [selectionType]="'single'"
    (select)="onSelect($event)"
    [limit]="10">
  </ngx-datatable>

</div>

