<div *ngIf="employee" class="employee">
  <a [routerLink]="'/departments/' + employee.departmentId + '/employees'" class="btn btn-link"><<< Back to department</a>
  <div *ngIf="showUploadSuccess" class="employee__alert alert alert-success">
    <strong>{{alertText}}</strong>
  </div>
  <div class="employee__data">
    <div class="employee__info">
      <h3>Name</h3>
      {{employee.name}}
      <h3>Phone</h3>
      {{employee.phone}}
    </div>
    <div class="employee__photo">
      <h3 class="text-center">User avatar</h3>
      <img [src]="getSrc()" class="employee__photo-img"/>
      <div class="employee__photo-actions">
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button class="btn btn-primary" (click)="fileInput.click()">Select File</button>
        <button class="btn btn-primary" (click)="onUpload()">Upload</button>
      </div>
    </div>
  </div>
</div>
