.employee {

  &__data {
    display: flex;
  }

  &__photo {
    width: 70%;
    text-align: center;

    &-actions {
      display: flex;
      justify-content: center;

      button {
        margin: 10px;
      }
    }

    &-img {
      max-width: 100%;
      max-height: 300px;
    }
  }

  &__info {
    width: 30%;
  }

  &__alert {
    position: fixed;
    top: 60px;
    width: 200px;
    right: 50px;
    text-align: center;
  }

}
